{% extends "index.html" %}
{% load staticfiles %}


  {% block landing %}

     </head>


    <body>

  <div class="static-background">
  

     
    <!-- header --> 
    <header id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
          <img src="{% static 'pangolinlang/img/pangolin_logo_small.png' %}" alt="logo">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapse-navbar">      
          <ul class="nav navbar-nav navbar-right">
          <li><a href="/">About Us</a></li>  
          <li><a href="/">News</a></li>  
          <li><a href="/">Blog</a></li>  
          <li><a href="#contact">Contact</a></li>          
          </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>  
    </header>
    <!-- ./header --> 

        <!-- Slider --> 
    <div id="slider" class="fullSection">
      <div class="container-fluid">
        
        <div class="top-heading text-center">
          <h2>Get FREE E-Book!</h2>
              <p>To get your free e-Book on lasers please fill in the registration form. </p>           
        </div>
        
        <!-- quick-form -->
        <div class="row paddt-60">
          <div class="col-md-6 col-md-offset-3">
            <div class="quick-form wow fadeInUp showdelay6">
              
              <form role="form">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control">
                </div>
                <button  class="btn btn-success btn-lg btn-block">Get Book Free</button>
              </form> 
            </div>
          </div>
        </div>
        <!-- ./quick-form -->
        
      </div>      
    </div>  
    <!-- ./Slider -->



    <!-- Testimonials Section-->
    <section id="testimonials">
      <div class="container">
        <div class="row">

          <div class="section-heading">
          <h2>Author</h2>
          <div class="separator"></div>           
        </div>
          <div class="col-md-6 col-md-offset-3">
            <div id="carousel-testimonials">
             
              <!-- Wrapper for slides-->
              <div role="listbox" class="author">
                <div class="item active"><img src="{% static 'pangolinlang/img/justin.jpg' %}" alt="" class="center-block">
                  <div class="carousel-caption">
                    <h2 class="classic">Justin Perry</h2>
                    <h5 class="no-pad">Chief Operating Officer Pangolin Laser Systems, Inc.</h5>
                     <ul class="social">
                       <li><a href="https://www.twitter.com/PangolinSystems"><i class="fa fa-twitter fa-fw fa-lg"></i></a></li>
              <li><a href="https://www.facebook.com/PangolinSystems"><i class="fa fa-facebook fa-fw fa-lg"></i></a></li>
              <li><a href="http://www.Youtube.com/PangolinShows"><i class="fa fa-youtube fa-fw fa-lg"></i></a></li>
                     </ul>
                  </div>
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




   
    
   <!-- Testimonials Section-->
    <section id="testimonials">
      <div class="container">
        <div class="row">

          <div class="section-heading">
          <h2>Testimonials</h2>
          <div class="separator"></div>           
        </div>
          <div class="col-md-6 col-md-offset-3">
            <div id="carousel-testimonials" data-ride="carousel" class="carousel slide carousel-fade">
             
              <!-- Wrapper for slides-->
              <div role="listbox" class="carousel-inner">
                <div class="item active"><img src="{% static 'pangolinlang/img/senja.jpg' %}" alt="" class="center-block">
                  <div class="carousel-caption">
                    <h2 class="classic">Alex Sinitzyn</h2>
                    <h5 class="no-pad">Thank you very much! Great book - she grabbed me the first lines! A very useful book!</h5>
                     
                  </div>
                </div>
                <div class="item"><img src="{% static 'pangolinlang/img/bob.jpg' %}" alt="" class="center-block">
                  <div class="carousel-caption">
                    <h2 class="classic">Bob Varkevisser</h2>
                    <h5 class="no-pad">This book turned my mind regarding the world of lasers! Thank you very much!</h5>
                    
                  </div>
                </div>
                <div class="item"><img src="{% static 'pangolinlang/img/skylife.jpg' %}" alt="" class="center-block">
                  <div class="carousel-caption">
                    <h2 class="classic">Vladimir Nybozhinsky</h2>
                    <h5 class="no-pad">This book has become my reference book! It opened my world of lasers! Thank you very much! </h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <!-- contact -->
    <section id="contact" class="section wow fadeInUp">
      <div class="container">
      
        <div class="section-heading-contact">
          <h2>Contact Us</h2>
          <div class="separator"></div> 
        </div>
        
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          
            <!-- Working Contact Form -->
            <form  name="sentMessage" id="contactForm" novalidate>
              <div class="row">
                <div class="control-group form-group col-sm-6">
                  <div class="controls">
                    <label>Name</label>
                    <input type="text" class="form-control dark" id="name" placeholder="" required data-validation-required-message="Please enter your name.">
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group form-group col-sm-6">
                  <div class="controls">
                    <label>Email</label>
                    <input type="email" class="form-control dark" id="email" placeholder="" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>  
              <div class="control-group form-group">
                <div class="controls">
                  <label>Message</label>
                  <textarea class="form-control dark" rows="7" id="message" placeholder="" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                  <p class="help-block"></p>
                </div>
              </div>
              <div id="success"></div>
              
              <div class="padd-tb-10">
                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
              </div>  
              
            </form>
            <div class="clearfix"></div>
            <!-- Working Contact Form -->
            
            <!-- contact-info -->
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="contact-info">      
                  <i class="fa fa-map-marker"></i> 9501 Satellite Boulevard, Suite 109
Orlando, Florida 32837, USA
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="contact-info">      
                  <i class="fa fa-envelope-o"></i> contact@pangolin.com
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="contact-info">      
                  <i class="fa fa-phone"></i> USA Phone: +1-407-299-2088
                </div>
              </div>
            </div>
            <!-- ./contact-info -->
            
          </div>
        </div>
      
      </div>
  
    </section>
    <!-- ./contact -->



     <!-- <div class="col-md-6 col-sm-6 col-md-offset-1"> -->
                            
              <!-- <div class="padd-tb-20">     -->
                <!-- 16:9 aspect ratio -->
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                  <!-- <div><a href="https://Pangolin.com"><img src="{% static 'pangolinlang/img/pangolin.jpg' %}" alt="Pangolin"></a> -->
                <!-- </div> -->
              <!-- </div> -->
              
            <!-- </div>   -->
            <!-- </div>   -->


                     <!-- footer -->
    <footer id="footer">
      <div class="container">
        <ul class="list-inline">
           <li><a href="https://www.twitter.com/PangolinSystems"><i class="fa fa-twitter fa-fw fa-lg"></i></a></li>
              <li><a href="https://www.facebook.com/PangolinSystems"><i class="fa fa-facebook fa-fw fa-lg"></i></a></li>
              <li><a href="http://www.Youtube.com/PangolinShows"><i class="fa fa-youtube fa-fw fa-lg"></i></a></li>
              <li><a href="https://www.linkedin.com/in/pangolinsystems"><i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>
              <li><a href="https://www.pinterest.com/pangolinlaser"><i class="fa fa-pinterest fa-fw fa-lg"></i></a></li>
              <li><a href="https://plus.google.com/+PangolinSystems"><i class="fa fa-google-plus fa-fw fa-lg"></i></a></li>
              <li><a href="http://i.youku.com/u/UMjE5NTk4NzY4"><i class="fa fa-youtube fa-fw fa-lg"></i></a></li>
        </ul>
        <div class="copyright">&copy; 2017 Pangolin | <a href="https://Pangolin.com" target="_blank">Pangolin Laser Systems</a></div>
      </div>
    </footer>
    <!-- ./footer -->
                                    
          </div>

  
  {% endblock %}    

