{% load staticfiles %}

<!doctype html>
<html class="fsvs" lang="en">
    <head>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="shortcut icon" href="{% static 'pangolinlang/img/favicon.png' %}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Get e-Book</title>

    <!-- Bootstrap -->
    <link href="{% static 'pangolinlang/css/bootstrap.min.css' %}" rel="stylesheet">
          
    <!-- Font Awesome CSS -->
    <link href="{% static 'pangolinlang/css/font-awesome.min.css' %}" rel="stylesheet">
    
    <!-- Simple Line Icons -->
    <link href="{% static 'pangolinlang/css/simple-line-icons/simple-line-icons.css' %}" rel="stylesheet">

    
    
    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    
    
    <!-- animate -->
    <link href="{% static 'pangolinlang/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'pangolinlang/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'pangolinlang/css/owl.theme.css' %}" rel="stylesheet">
    
    <!-- style -->
    <link href="{% static 'pangolinlang/css/style.css' %}" rel="stylesheet">
  

        
        <link rel="stylesheet" href="{% static 'pangolinlang/css/animate.min.css' %}">
      

        <script src="{% static 'pangolinlang/js/jquery-1.12.4.min.js' %}"></script> 

        
        <script src="{% static 'pangolinlang/js/wow.js' %}"></script>
              <script>
              new WOW().init();
              </script>
       
 

     {% block landing %}{% endblock %}
     {% block story %}{% endblock %}   

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->    
   
    <script src="{% static 'pangolinlang/js/bootstrap.min.js' %}"></script>
    
    <!-- smooth-scroll -->
    <script src="{% static 'pangolinlang/js/smooth-scroll.js' %}"></script>
    
    <!-- backstretch -->
    <script src="{% static 'pangolinlang/js/backstretch.min.js' %}"></script>
    
    <script src="{% static 'pangolinlang/js/owl.carousel.js' %}"></script>
    
    <!-- typed -->
    <script src="{% static 'pangolinlang/js/typed.min.js' %}"></script>
            
    <!-- magnific-popup -->
    <script src="{% static 'pangolinlang/js/jquery.magnific-popup.js' %}"></script>
    
    <!-- jqBootstrapValidation -->
    <script src="{% static 'pangolinlang/js/jqBootstrapValidation.js' %}"></script>
    
          
    <!-- main js -->
    <script src="{% static 'pangolinlang/js/main.js' %}"></script>

        
    </body>
</html>